.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

/content/.smart-env
/content/.claude
/content/.keep-the-rhyhtm
/content/.claude
/content/90 Templates/Templater/
/content/90 Templates/